<div class="box my-5 pb-5">

  <!-- マジック一覧画面タイトル -->
  <%= render 'layouts/title', title: "Magics", obj: nil %>

  <!-- マジック投稿画面へのリンク -->
  <div class="row mb-4 magic-btn">
    <div class="col-2 offset-8">
      <%= link_to 'マジックを投稿する', new_magic_path, class: "btn btn-secondary" %>
    </div>
  </div>

  <!-- マジック一覧 -->
  <div class="row">
    <div class="col-10 offset-1 justify-content-center">
      <%= render 'magics/index', magics: @magics %>
    </div>
  <div class="row">

  <!-- スマホ画面における投稿ボタン -->
  <div class="magic-responsive-btn">
    <%= link_to new_magic_path do %>
      <i class="fas fa-plus-circle fa-7x text-secondary"></i>
    <% end %>
  </div>

</div>