<div class="box my-5">

  <!-- サンクス画面タイトル -->
  <div class="row p-5">
    <div class="col-12 justify-content-center">
      <h1 class="title">Thanks!</h1>
      <div class="title-line mt-4"></div>
    </div>
  </div>

  <!-- サンクスメッセージ -->
  <div class="row p-5">
    <div class="col-12">
      <h4 class="text-center">購入が完了しました！</h4>
      <h4 class="text-center">出品者の発送をお待ちください。</h4>
    </div>
  </div>

  <!-- 各画面へのリンク -->
  <div class="row justify-content-center pb-5">
    <%= link_to "注文履歴へ", orders_path, class: "btn btn-secondary col-3" %>
    <%= link_to "TOPへ", root_path, class: "btn btn-secondary offset-1 col-3" %>
	</div>

</div>


