<!--コメント入力フォーム-->
<%= form_with(model:[magic, magic_comment], remote: true) do |f| %>
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <%= f.text_area :comment, rows:'5', class: "form-control", placeholder: "コメントをここに" %>
    </div>
    <div class="col-sm-8 mt-2">
      <%= f.submit "送信する", class: "btn btn-secondary float-right" %>
    </div>
  </div>
<% end %>
