<div class="box my-5 pb-5">

	<!-- DM一覧画面タイトル -->
	<div class="row p-5">
		<div class="col-12 justify-content-center">
			<h1 class="title">Messages</h1>
			<div class="title-line mt-4"></div>
		</div>
	</div>

	<!-- DM一覧 -->
	<% if @anotherEntries.count == 0 %>
		<h3 class="text-center">メッセージはありません。</h3>
	<% else %>
		<%= render 'rooms/index', anotherEntries: @anotherEntries %>
	<% end %>
</div>