<div class="box my-5 pb-5">

  <!-- DM一覧画面タイトル -->
  <%= render 'layouts/title', title: "Messages", obj: nil %>
  

  <!-- DM一覧 -->
  <% if @anotherEntries.count == 0 %>
    <h3 class="text-center">メッセージはありません。</h3>
  <% else %>
    <%= render 'rooms/index', anotherEntries: @anotherEntries %>
  <% end %>
</div>