/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

// body共通のスタイル
body {
  // body内の基本フォント
  font-family: "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-size: 16px;
  color: black;
  // bodyの背景画像
  // background-image: url("Card5.jpg");
  // background: rgb(21, 32, 43);
  background: white;
  // background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

// フッターを最下部に設置するためのCSS
body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// エラーメッセージ
#error_explanation {
  color: red;
}


a {
  color: black;
}

a:hover {
  color: gray;
  text-decoration: none;
}

/* ここからヘッダー関係 */
// ヘッダー
header {
  height: 70px;
  // background: rgba(0, 0, 0, 0.8);
  background: white;
  border-bottom-style: solid;
  border-color: black;
}

.search {
  width: 50% !important;
}

// ハンバーガーメニューアイコンの位置
#hm-icon {
  position: fixed;
  right: 20px;
  top: 15px;
  z-index: 301;
}

// ハンバーガーメニューのテキスト
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

// ハンバーガーメニューアイコンの大きさ、形
.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 35px;
  height: 3px;
  background-color: black;
  border-radius: 4px;
}
.menu-trigger span:nth-child(1) {
  top: 0;
}
.menu-trigger span:nth-child(2) {
  top: 15px;
}
.menu-trigger span:nth-child(3) {
  top: 30px;
}

// ハンバーガーメニューアイコンクリック後の表示
.menu-trigger.active span:nth-child(1) {
  -webkit-transform: translateY(15px) rotate(-45deg);
  transform: translateY(15px) rotate(-45deg);
  background-color: black;
}
.menu-trigger.active span:nth-child(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-child(3) {
  -webkit-transform: translateY(-15px) rotate(45deg);
  transform: translateY(-15px) rotate(45deg);
  background-color: #000;
}

// ハンバーガーメニュー表示時の半透明背景
#blackBg {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  width: 80%;
  min-height: 100%;
  display: none;
  z-index: 100;
}

// ハンバーガーメニューの位置
#sp-menu {
  position: fixed;
  top: 0;
  right: 0;
  background: white;
  color: #000;
  width: 20%;
  min-height: 100%;
  display: none;
  list-style: none;
  z-index: 300;
}

// ハンバーガーメニュー内のリスト
#sp-menu li {
  margin-left: 10%;
  margin-top: 30px;
  list-style: none;
}

// ハンバーガーメニュー内のリスト(1番目)
#sp-menu li:nth-child(1) {
  margin-top: 100px;
}

// ハンバーガーメニュー内のリンク
#sp-menu a {
  color: black;
  text-decoration: none;
  position: relative;
  margin: auto 10px;
}

// ハンバーガーメニュー内のリンクの下線のアニメーション
#sp-menu a::before,
#sp-menu a::after {
  border-bottom: solid 3px black;
  color: black;
  bottom: -10px;
  content: "";
  display: block;
  position: absolute;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  width: 0;
}
#sp-menu a::before {
  left: 50%;
}
#sp-menu a::after {
  right: 50%;
}
#sp-menu a:hover::before,
#sp-menu a:hover::after {
  width: 50%;
}
/* ここまでヘッダー関係 */

/* ここからフッター関係 */
footer {
  width: 100%;
  height: 80px;
  color: black;
  background: white;
  padding: 20px;
  margin-top: auto;
  border-top-style: solid;
  border-color: black;
}
/* ここまでフッター関係 */

/* ここからメインコンテンツ関係 */
// 半透明ボックス
.box {
  // background: rgba(21, 32, 43, 0.8);
  background: #f2f2f2
}

// 各画面のタイトル
.title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
}

// タイトルの下線
.title-line {
  background: #000;
  width: 90%;
  height: 2px;
  margin: auto;
}

// リンクボタンの下線のアニメーション
.link-btn {
  display: block;
  position: relative;
  text-decoration: none;
}
.link-btn::before,
.link-btn::after {
  border-bottom: solid 3px black;
  color: black;
  bottom: -10px;
  content: "";
  display: block;
  position: absolute;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  width: 0;
}
.link-btn::before {
  left: 50%;
}
.link-btn::after {
  right: 50%;
}
.link-btn:hover::before,
.link-btn:hover::after {
  width: 50%;
}

// コメントor自分のメッセージの吹き出し
.says {
  float: left;
  position: relative;
  width: calc(100% - 56px);
  padding: 16px;
  background: #ffffff;
  border-radius: 15px;
  line-height: 1.5;
  word-break: break-all;
}
.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #ffffff;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

// 相手のメッセージの吹き出し
.other-user-says {
  float: right;
  position: relative;
  width: calc(100% - 56px);
  padding: 16px;
  background: #ffffff;
  border-radius: 15px;
  line-height: 1.5;
  word-break: break-all;
}
.other-user-says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #ffffff;
  -webkit-transform: rotate(145deg);
  transform: rotate(145deg);
}

// 説明テキストの省略
.text-overflow {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}



/* ここまでメインコンテンツ関係 */