// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ここからTOP画面 */
.main-visual1 {
  background-image: image-url("show.jpg");
  width: 100%;
  height: 350px;
  display: flex; /* 子要素の上下左右中央寄せするために追記 */
  background-position: center; /* 背景画像の中央表示 */
  background-size: cover; /* 背景画像の画像の縦横比を維持しながら最大化 */
}

.main-visual2 {
  background-image: image-url("About1.jpg");
  width: 100%;
  height: 350px;
  display: flex; /* 子要素の上下左右中央寄せするために追記 */
  background-position: center; /* 背景画像の中央表示 */
  background-size: cover; /* 背景画像の画像の縦横比を維持しながら最大化 */
}

.main-visual3 {
  background-image: image-url("Ball1.jpg");
  width: 100%;
  height: 350px;
  display: flex; /* 子要素の上下左右中央寄せするために追記 */
  background-position: center; /* 背景画像の中央表示 */
  background-size: cover; /* 背景画像の画像の縦横比を維持しながら最大化 */
}

// メインビジュアルの画像を黒半透明にする
.main-visual2::before,.main-visual3::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 350px;
  z-index: 1;
}

.main-visual-text-box {
  padding: 20px; /* 要素内に20pxの余白 */
  z-index: 1;
}

.main-title, .sub-title {
  font-family: didot, serif !important;
  font-weight: bold;
  text-align: center;
}

.main-link-area {
  margin-top: 3rem !important;
  z-index: 2;
}

.main-link {
  font-family: didot, serif !important;
  z-index: 2;
}

/* タイトルを下からフェードイン */
.title-fade-in-bottom {
  opacity: 0;
  animation-name: fadein-bottom;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  z-index: 2;
}
@keyframes fadein-bottom {
   0% {
      opacity: 0;
      transform: translateY(20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

/* タイトルを下からフェードイン */
.link-fade-in-bottom {
   opacity: 0;
   animation-delay: 1.0s;
   animation-name: fadein-bottom;
   animation-duration: 1.5s;
   animation-timing-function: ease-out;
   animation-fill-mode: forwards;
}
@keyframes fadein-bottom {
   0% {
      opacity: 0;
      transform: translateY(20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}


// TOP画面のリンクボタンの下線のアニメーション
.top-link-btn {
  display: block;
  position: relative;
  text-decoration: none;
  z-index: 2;
}
.top-link-btn::before,
.top-link-btn::after {
  border-bottom: solid 3px white !important;
  color: white !important;
  bottom: -10px;
  content: "";
  display: block;
  position: absolute;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  width: 0;
}
.top-link-btn::before {
  left: 50%;
}
.top-link-btn::after {
  right: 50%;
}
.top-link-btn:hover::before,
.top-link-btn:hover::after {
  width: 50%;
}

// 本日のピックアップ
.top-index-area {
  width: 100%;
  margin-left: 1%;
  display: flex; /* Flexboxの利用 */
  flex-wrap: wrap; /* Flexboxの利用時に横幅を超えた要素を折り返す */
}

.top-index-area .product-area {
  position: relative;
  width: 20%;
  margin-right: 6%;
  margin-bottom: 10px;
}

.top-index-area .product-area:nth-child(4n) {
  margin-right: 0px; /* 3つ目の商品のみ右側余白を0pxに */
}

.top-index-area .magic-area {
  position: relative;
  width: 20%;
  margin-right: 6%;
  margin-bottom: 10px;
}

.top-index-area .magic-area:nth-child(4n) {
  margin-right: 0px; /* 3つ目の商品のみ右側余白を0pxに */
}

/* ここまでTOP画面 */
/* ここからAbout画面 */
.about-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
}

.about-text-area {
  height: 80%;
}

.about-sub-title {
  font-family: 'Noto Serif JP', serif !important;
}

.about-image1 {
  width: 400px !important;
  height: 280px !important;
  background-image: image-url("About1.jpg");
  background-position: center; /* 背景画像の中央表示 */
  background-size: cover; /* 背景画像の画像の縦横比を維持しながら最大化 */
}

.about-image2 {
  width: 400px !important;
  height: 280px !important;
  background-image: image-url("Card1.jpg");
  background-position: center; /* 背景画像の中央表示 */
  background-size: cover; /* 背景画像の画像の縦横比を維持しながら最大化 */
}

.about-image3 {
  width: 400px !important;
  height: 280px !important;
  background-image: image-url("Ball1.jpg");
  background-position: center; /* 背景画像の中央表示 */
  background-size: cover; /* 背景画像の画像の縦横比を維持しながら最大化 */
}

.about-text {
  display: inline-block;
  font-size: 1.1vw !important;
}

/* ここまでAbout画面 */

/* レスポンシブ対応 */
/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width: 425px) {
  /* ここからTOP画面 */
  .main-visual1,.main-visual2,.main-visual3 {
    height: 180px;
  }
  .main-visual2::before,.main-visual3::before {
    height: 180px;
  }


  .main-title {
    font-size: 1.8rem !important;
  }

  .sub-title {
    font-size: 1.2rem !important;
  }

  // 本日のピックアップ
  .top-index-area {
    width: 100%;
    display: block; /* Flexの解除 */
  }

  .top-index-area .product-area {
    width: 100%;
  }

  .top-index-area .magic-area {
    width: 100%;
  }

  .main-link-area {
    margin-top: 0rem !important;
  }

  /* ここまでTOP画面 */
  /* ここからAbout画面 */
  .about-text br {
    display: none;
  }

  .about-image1,.about-image2,.about-image3 {
    display: none;
  }

  .about-area {
    margin: 0 5%;
  }

  /* ここまでAbout画面 */

}