// Place all the styles related to the Magics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.magic-image-area {
  position: relative;
}

.magic-image-area:before {
  content:"";
  display: block;
  padding-top: 56%; /* 高さを幅の56%に固定 */
}

.magic-image {
  position: absolute;
  width: 100%;
height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  object-position: center;
}

.magic-title {
  font-weight: bold;
}

.magic-body {
  color: #666;
  font-size: 0.8rem;
}

.magic-responsive-btn{
  display: none;
}


/* レスポンシブ対応 */
/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width: 425px) {

  .magic-image-area {
    width: 100%;
  }

  .magic-title {
    font-size: 1.5rem;
  }

  .magic-btn {
    display: none !important;
  }

  .magic-responsive-btn{
    display: block;
    position: fixed;
    right: 25px;
    bottom: 20px;
  }
}