// Place all the styles related to the Magics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.magic-image-area {
  position: relative;
}

.magic-image-area:before {
  content:"";
  display: block;
  padding-top: 56%; /* 高さを幅の56%に固定 */
}

.magic-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  object-position: center;
}

// 動画再生ボタン
.video_play {
    display: inline-block;
    position: relative;
    width: 1em;
    height: 1em;
    border: 0.05em solid currentColor;
    border-radius: 50%;
    font-size: 5rem;
    color: white;
}
.video_play:before {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateY(-50%);
    width: 0px;
    height: 0px;
    border: 0.3em solid transparent;
    border-left: 0.5em solid currentColor;
    box-sizing: border-box;
    content: "";
    color: white;
}
.video_play:hover {
  opacity: 0.7;
}


/* レスポンシブ対応 */
/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width: 425px) {

  .magic-image-area {
    width: 100%;
  }

  .magic-title {
    font-size: 1.5rem;
  }

}