// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-image-area {
  position: relative;
}

.index-products-area {
  width: 100%;
  display: flex; /* Flexboxの利用 */
  flex-wrap: wrap; /* Flexboxの利用時に横幅を超えた要素を折り返す */
}

.index-products-area .product-area {
  position: relative;
  width: 30%;
  margin-right: 5%;
  margin-bottom: 30px;
}

.product-area:before {
  content:"";
  display: block;
}

.index-products-area .product-area:nth-child(3n) {
  margin-right: 0px; /* 3つ目の商品のみ右側余白を0pxに */
}

// 商品画像の縦横比を維持しつつ、中央表示する
.product-image {
  width: 100%;
  height: 60%;
  object-fit: cover;
  object-position: center;
}

// 売り切れた商品画像にSOLDを表示
.product-sold{
  width: 0;
  height: 0;
  border-top: 30px solid #ea352d ;
  border-right: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #ea352d ;
  z-index:10;
  position: absolute;
  &__inner{
    transform: rotate(-45deg);
    font-size: 16px;
    margin: -15px 0px 0px -25px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
  }
}

/* レスポンシブ対応 */
/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width: 425px) {

  .index-products-area {
    width: 100%;
    display: block; /* Flexの解除 */
  }

  .index-products-area .product-area {
    width: 100%;
  }

  .product-image {
    width: 100%;
    height: 75%;
  }

  .product-title {
    font-size: 1.5rem;
  }
}