// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ログイン画面へのリンク「こちら」の装飾
.login-link {
  text-decoration: underline;
}

// プロフィール画像の縦横比を維持しつつ、中央表示する
.profile-image {
  object-fit: cover;
  object-position: center;
}

/* ここからタブメニュー関係 */
// タブメニュー全体の装飾
#tab-menu {
  display: flex;
  padding: 0px;
}
// タブメニューのリストの装飾
#tab-menu li {
  list-style-type: none;
  padding: 0px;
}
// タブメニューのリンク
#tab-menu li a {
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
}
// 選択中のタブの背景色を白にする
#tab-menu .active {
  background: #fff;
}
/* ここまでタブメニュー関係 */