<div class="product-area ">
  <%= link_to product_path(product.id) do %>
    <%= attachment_image_tag(product, :image, :fill, 150, 100, fallback: "noimage.png", size:'150x100', class:"img-thumbnail product-image") %>
    <p class="pt-2"><%= product.name %></p>
  <% end %>

  <% if product.is_sale == true %>
    <p>¥<%= product.after_tax_price.to_s(:delimited) %></p>
  <% elsif product.is_sale == false %>
    <p>売切れ</p>
  <% end %>
</div>