<div class="box my-5">

	<!-- 販売履歴画面タイトル -->
	<div class="row p-5">
		<div class="col-12 justify-content-center">
			<h1 class="title">My Sales</h1>
			<div class="title-line mt-4"></div>
		</div>
	</div>

	<!-- 販売一覧 -->
	<%= render 'sales/index', orders: @orders %>

</div>