<% if obj.errors.any? %>
	<div id="error_explanation", class="alert alert-danger mx-5 my-3">
		<ul>
			<% obj.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>